<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layover searcher widget</title>

    <!-- build:vendor_css -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <!-- endbuild -->

    <!-- build:main_css -->
    <link href="../styles/layoverSearcher.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body>


<!-- build:vendor_js -->
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- endbuild -->

<!-- build:main_js -->
<script src="../scripts/layoverSearcher.js"></script>
<!-- endbuild -->
</body>
</html>