<!--
This document is processed by gulp. It replaces the comments with build:some_name with the the right
markup to load stylesheets and scripts. This is required because the paths to these assets are different
between local (developer machine) and production.

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layover searcher widget</title>

    <!-- build:vendor_css -->
    <!-- endbuild -->

    <!-- build:main_css -->
    <!-- endbuild -->
</head>
<body>


<!-- build:vendor_js -->
<!-- endbuild -->

<!-- build:main_js -->
<!-- endbuild -->
</body>
</html>